* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 250px;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.037);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 29px;



& img {
    margin: auto;

}

& .container {
    display: flex;
    align-items: center;
    justify-content: space-between;


    & tittle {

        & h1 {
            font-size: 24px;
            margin-bottom: 6px;

        }

        & p {
            font-size: 16px;
            color: #aeaeae
        }
    }

    & #poison {
        background-color: #d3d3d3;
        padding: 6px 16px;
        border-radius: 100px;
    }
}

& button{
    background-color: #ffff;
    border: 1 px solid #0000;
    padding: 6px;
    cursor: pointer;

}
   & button:hover {
        background-color: #efefef;
    }


}

&btn{
    width: 50px;
    height: 50px;
    border-radius: 100px; 
    margin-left: 30px;
    background-color: #ffff;
    border: 1px solid #0000;
    padding: 6px;
    cursor: pointer;
}
&btn:hover{
    background-color: #efefef;
}